<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>

    <ion-buttons right>
      <button ion-button (click)="createCity()">
        Criar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="city">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input [(ngModel)]="city.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>População</ion-label>
      <ion-input [(ngModel)]="city.totalPopulation" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Pais</ion-label>
      <ion-input [(ngModel)]="city.country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cep</ion-label>
      <ion-input [(ngModel)]="city.zipCode"></ion-input>
    </ion-item>
  </div>
</ion-content>
