<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <button ion-button (click)="authenticate()">
      Autenticar
    </button>

    <button ion-button (click)="getAllCities()">
      Cidades
    </button>
  </div>

  <ion-list *ngFor="let city of cities">
    <ion-item>
      <h2>Nome</h2>
      <h4>{{city.name}}</h4>
    </ion-item>

    <ion-item>
      <h2>População</h2>
      <h4>{{city.totalPopulation}}</h4>
    </ion-item>

    <ion-item>
      <h2>Pais</h2>
      <h4>{{city.country}}</h4>
    </ion-item>

    <ion-item>
      <h2>Cep</h2>
      <h4>{{city.zipCode}}</h4>
    </ion-item>

    <ion-item-divider></ion-item-divider>
  </ion-list>
</ion-content>
